
body{
  background-color: #f6eedf;
  text-align: center;
  padding: 40px 0;
}
.top-container{
  position: relative;
  padding-top: 100px;
}
.aboutme{
  padding-top: 100px;
}
.toph1{
  font-family: 'Great Vibes', cursive;
  font-size: 90px;
}
hr{
  border-style:dotted none none;
  border-color: #a6b1e1;
  border-width: 5px;
  height: 0px;
  width: 5%;
}
h1{
  font-family: 'Caveat', cursive;
  color: #a8d3da;
}
h2{
  color:#444f5a;
  font-style:italic;
}
a{
  text-decoration: none;
}
.cloud{
  width: 30%;
padding-left: 200px;
padding-top: 150px;
padding-bottom: 50px;
  position: absolute;
}
.cloudy{
  width: 200px;
  height: 200px;
  padding-top: 150px;
  padding-left: 50px;
  padding-bottom: 50px;
  position: absolute;
}
.creative{
  position: center bottom;
  padding-top: 350px;
}
.internet{
  width: 100px;
  position: relative;
  padding-right: 50px;
}
.test{
  width: 100px;
  position: relative;
  padding-left: 100px;
}
.data{
  width: 100px;
  position: absolute;
  padding-left: 50px;
}
.me{
width: 300px;

}
.about{
  padding-left: 100px;
  padding-top: 100px;
}
.desk{
  width: 300px;
  position: relative;
  padding-top: 100px;
}
.ulap{
  width: 100px;
  position: absolute;
  padding-left: 50px;
}
.about{
  padding-top: 100px;
  padding-left: 100px;
}
.container {
	width: 80%;
	margin: 0 auto;
}
nav {
  padding-left: 600px;
  padding-bottom: 100px;
  position: auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a:before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
